@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin hover-shadow {
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.3);
}
